<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Первое приложение на Flask">
    <link type="text/css" href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
    <title>Про Flask</title>
</head>
<body>
    {% block main %}
        <div class="main">
            <div class="header">
                <div class="logo">
                    <div class="logo_text">
                        <h1><a href="/">FlaskProject</a></h1>
                        <h2>Моё первое приложение на Flask</h2>
                    </div>
                </div>
                <div class="menubar">
                    <ul class="menu">
                        <li class="selected"><a href="#">Главная</a></li>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">Регистрация</a></li>
                        <li><a href="#">Вход</a></li>
                    </ul>
                </div>
            </div>
        </div>
    {% endblock %}
</body>
</html>